@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

div {
  font-family: 'El+Messiri', sans-serif;
}

.navbarButtonContainer {
  width: 33%;
  font-size: 250%;
  text-align: center;
  border: 1px solid rgba(195, 187, 187);

  /* to make it sticky */
  /* also add padding-top to the content */
  /* position:fixed;
  top:0;
  width:100%;
  z-index:100;
  padding-top: 10px; */
}

.navbarButtonContainer:hover {
  border: 1px solid rgba(195, 187, 187, 0.2);
  background: rgba(195, 187, 187, 0.3);
  cursor: pointer;
}

.addWrapper {
  width: 100vw;
  border: 1px solid yellow;
  display: flex;
  flex-direction: row;
}

.addForm {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid blue;
}

.previousRecordsWrapper {
  width: 30%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.prevRecTop {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.prevRecBottom {
  text-align: right;
  padding-right: 5%;
}

.previousRecordsContainer {
  width: 100%;
  margin: auto;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.prevRec {
  border: 1px solid black;
  width: 100%;
  height: 8%;
  text-align: center;
  line-height: 40px;
}

.prevRecButton {
  border-radius: 10px;
  border: 1px solid black;
  width: 80%;
  text-align: center;
}

.addInput {
  width: 50%;
}

.amount {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  margin: auto;
}

.amount1 {
  width: 100%;
  height: 24px;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  margin: auto;
  text-align: center;
}

.addButton {
  width: 100%;
  position: relative;
  /* background-color: #008CBA; */
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: black;
  outline: none;
  padding: 8px 0px;
  font-weight: bolder;
  border-radius: 28px;
}

/* .currentWrapper {
  display: flex;
  flex-direction: row;
} */

.currentWrapperTop {
  /* padding-top: 40px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.currentSummaryContainer {
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
}

.currentSummaryContainer > div {
  /* height: 50%; */
  width: 100%;
  /* padding: 5%; */
}

.currentSummary > div {
  border: 1px solid black;
  text-align: center;
  margin: auto;
}

.currentSummaryHistory > div {
  /* height: 42px; */
  text-align: center;
  border: 1px solid black;
}

.historyDropdown {
  width: 100%;
  height: 26px;
  text-align: center;
}

.tooltipParent:hover .tooltipText {
  display: block;
}

.tooltipText {
  display: none;
  /* background: linear-gradient(90deg, rgba(192,188,249,1) 22%, rgba(62,190,92,1) 75%, rgba(197,204,144,1) 100%); */
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  /* background: rgb(209, 142, 216); */
  position: absolute;
  /* width: 24%; */
  width: 28.5%;
  height: 3.5%;
  bottom: 86%;
}

.budget {
  /* background-color: rgb(209, 142, 216); */
  /* color: white; */
}

.remaining {
  /* background-color: #D43931; */
  background-color: rgb(49, 111, 212, 0.4);
  /* background-color:  rgba(17, 86, 248, 0.2); */
}

.spendings {
  /* background-color:  rgba(231, 66, 51, 0.3); */
  /* background-color: rgb(255, 199, 206); */

  /* use the below tone but for Credits / Fixed / Remaining */
  /* background-color: #D43931; */
  background-color: rgba(217, 57, 49, 0.5);
}

.credits {
  /* background-color:  rgba(33, 248, 17, 0.2); */
  background-color: rgba(73, 212, 49, 0.4);
  /* background-color: rgb(198, 239, 206); */
  /* color: rgb(156, 0, 6); */
}

.fixed {
  /* background-color:  rgba(248, 213, 17, 0.2); */

  background-color: rgb(209, 212, 49, 0.5);
  /* background-color: rgb(255, 235, 156); */
  /* background-color: rgb(201, 212, 49); */
}

.creditsFontColor {
  /* color: rgb(156, 0, 6); */
  color: red;
}

.currentDataContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* margin-top: 2%; */
  margin-bottom: 2%;
}

.currentData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-right: 5%; */
  /* margin-left: 5%; */
}

.currentData:hover {
  /* border: 1px solid white; */
  /* transform: scale(1.005); */
  /* background-color: white; */
  opacity: 0.7;
  font-weight: bold;
  background-color: rgba(195, 187, 187);
}

.currentDataHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
}

.currentWrapperBottom {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
}

.helper {
  /* display: inline-block;
  height: 100%;
  vertical-align: middle; */
}

.iconContainer {
  margin-right: 7%;
}

.icon {
  cursor: pointer;
}

.currentDataHeader:nth-child(1), .currentTableRow:nth-child(1), .currentDataHeader:nth-child(2), .currentTableRow:nth-child(2), .currentDataHeader:nth-child(3), .currentTableRow:nth-child(3), .currentDataHeader:nth-child(4), .currentTableRow:nth-child(4) {
  width: 12%;
}
.currentDataHeader:nth-child(5), .currentTableRow:nth-child(5), .currentDataHeader:nth-child(6), .currentTableRow:nth-child(6) {
  width: 22%;
}

.fa-sort-up {
  float: right;
  border: 1px solid black;
}

.fa-sort-up:hover, .arrow:hover, .prevRecButton:hover {
  cursor: pointer;
}

.arrow {
  font-size: 22px;
}

.fa-caret-right {
  margin-left: 10%;
}

.fa-caret-left {
  margin-right: 10%;
}





/* .currentDataHeader:nth-child(even), .currentTableRow:nth-child(even) {
  border: 1px solid red;
  background-color: grey;
  text-align: center;
  width: 16.67%;
} */
