@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

div {
  font-family: 'El+Messiri', sans-serif;
}

.navbarButtonContainer {
  width: 100%;
  font-size: 250%;
  text-align: center;
  border: 1px solid rgba(158, 158, 158, 0.28);

  transition: background-color 750ms ease-out;
  background-color: #e8e8e8b9;

  /* to make it sticky */
  /* also add padding-top to the content */
  /* position:fixed;
  top:0;
  width:100%;
  z-index:100;
  padding-top: 10px; */
}

.navbarButtonContainer:hover {
  transition: background-color 750ms ease-out;
  background: rgba(195, 187, 187);

  border: 1px solid rgba(195, 187, 187);
  cursor: pointer;
}

.addWrapper {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.addForm {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8e8e838;
  /* border: 1px solid blue; */
}

.previousRecordsWrapper {
  width: 30%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}

.prevRecTop {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: #e8e8e838;
}

.prevRecBottom {
  text-align: right;
  padding-right: 5%;
}

.previousRecordsContainer {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}

.prevRec {
  border: 1px solid black;
  width: 100%;
  height: 10%;
  text-align: center;
  line-height: 45px;
  border-radius: 15px;
}

.prevRec:hover {
  background-color: rgba(195, 187, 187, 0.3);
}

.prevRecButton {
  border-radius: 10px;
  border: 1px solid black;
  width: 80%;
  text-align: center;
}

.addInput {
  width: 50%;
}

.required {
  display: inline-block;
  color: red;
  margin-top: 5%;
  margin-right: 5%;
  font-size: 60%;
  transition: opacity 500ms ease-in-out;
}

.shakeIt {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.amount {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  margin: 1% auto auto auto;
}

.amount1 {
  width: 100%;
  height: 24px;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  margin: auto;
  text-align: center;
}

.addButtonSpendings, .addButtonFixed, .addButtonCredits {
  width: 100%;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: black;
  outline: none;
  padding: 8px 0px;
  font-weight: bolder;
  border-radius: 28px;
  color: rgba(0, 0, 0, 0.65);
  transition: color 450ms ease-out;
  transition: background-color 450ms ease-out;
}

.addButtonSpendings:hover, .addButtonFixed:hover, .addButtonCredits:hover {
  cursor: pointer;
  transition: color 450ms ease-in;
  color: rgba(0, 0, 0, 0.945);
  transition: background-color 500ms ease-in;
}

.addButtonSpendings:hover {
  background-color: rgba(238, 28, 17, 0.883);
}

.addButtonFixed:hover {
  /* background-color: rgba(233, 236, 43); */
  background-color: rgb(251, 255, 43)
}

.addButtonCredits:hover {
  background-color: rgb(41, 255, 12);
}

.spendings {
  /* background-color: rgb(255, 134, 134); */
  background-color: rgba(238, 28, 17, 0.5)
}

.credits {
  /* background-color: rgba(73, 212, 49, 0.4); */
  background-color: rgb(41, 255, 12, 0.5);
}

.fixed {
  /* background-color: rgba(233, 236, 43, 0.5); */
  /* background-color: rgba(251, 255, 0, 0.3) */
  background-color: rgb(251, 255, 43, 0.3)
}

.renderSideBoxFont {
  font-size: 80%;
}

/* .currentWrapper {
  display: flex;
  flex-direction: row;
} */

.currentWrapperTop {
  /* padding-top: 40px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.currentSummaryContainer {
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
}

.currentSummaryContainer > div {
  /* height: 50%; */
  width: 100%;
  /* padding: 5%; */
}

.currentSummary > div {
  border: 1px solid black;
  text-align: center;
  margin: auto;
}

.currentSummaryHistory > div {
  /* height: 42px; */
  text-align: center;
  border: 1px solid black;
}

.historyDropdown {
  width: 100%;
  height: 26px;
  text-align: center;
}

.tooltipParent:hover .tooltipText {
  display: block;
}

.tooltipText {
  display: none;
  /* background: linear-gradient(90deg, rgba(192,188,249,1) 22%, rgba(62,190,92,1) 75%, rgba(197,204,144,1) 100%); */
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  /* background: rgb(209, 142, 216); */
  position: absolute;
  /* width: 24%; */
  width: 28.5%;
  height: 3.5%;
  bottom: 86%;
}

.budget {
  /* background-color: rgb(209, 142, 216); */
  /* color: white; */
}

.remaining {
  /* background-color: #D43931; */
  background-color: rgb(49, 111, 212, 0.4);
  /* background-color:  rgba(17, 86, 248, 0.2); */
}

.creditsFontColor {
  /* color: rgb(156, 0, 6); */
  color: red;
}

.currentDataContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* margin-top: 2%; */
  margin-bottom: 2%;
}

.currentData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 3%;
  margin-left: 3%;
  /* margin-right: 5%; */
  /* margin-left: 5%; */
}

.currentData:hover {
  /* border: 1px solid white; */
  /* transform: scale(1.005); */
  /* background-color: white; */
  /* opacity: 0.7; */
  font-weight: bold;
  background-color: rgba(195, 187, 187);
}

.currentDataHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
}

.currentWrapperBottom {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  margin-bottom: 2%;
}

.helper {
  /* display: inline-block;
  height: 100%;
  vertical-align: middle; */
}

.iconContainer {
  margin-right: 7%;
}

.icon {
  cursor: pointer;
}

/* 4 */
.currentDataHeader:nth-child(1), .currentTableRow:nth-child(1), .currentDataHeader:nth-child(2), .currentTableRow:nth-child(2), .currentDataHeader:nth-child(3), .currentTableRow:nth-child(3), .currentDataHeader:nth-child(4), .currentTableRow:nth-child(4) {
  width: 14%;
}

/* 2 */
.currentDataHeader:nth-child(5), .currentTableRow:nth-child(5), .currentDataHeader:nth-child(6), .currentTableRow:nth-child(6) {
  width: 22%;
}

.fa-sort-up {
  float: right;
  border: 1px solid black;
}

.fa-sort-up:hover, .arrow:hover, .prevRecButton:hover, .addArrow:hover {
  cursor: pointer;
}

.arrow {
  font-size: 22px;
}

.fa-caret-right {
  margin-left: 10%;
}

.fa-caret-left {
  margin-right: 10%;
}

.addArrow {
  font-size: 175%;
}

.addArrow:hover {
  color: rgba(56, 170, 236, 0.637);
 }

 .addSideBoxFooterSpendings {
  background: linear-gradient(-60deg, #e8e8e838, rgba(217, 57, 49, 0.3));
 }

 .addSideBoxFooterCredits {
  background: linear-gradient(-60deg, #e8e8e838, rgba(73, 212, 49, 0.25));
 }

 .addSideBoxFooterFixed {
  background: linear-gradient(-60deg, #e8e8e838, rgb(209, 212, 49, 0.4));
 }





/* .currentDataHeader:nth-child(even), .currentTableRow:nth-child(even) {
  border: 1px solid red;
  background-color: grey;
  text-align: center;
  width: 16.67%;
} */
